<!--<p style="color: green"><%= notice %></p>

<%= render @usr %>

<div>
  <%= link_to "Edit this usr", edit_usr_path(@usr) %> |
  <%= link_to "Back to usrs", usrs_path %>

  <%= button_to "Destroy this usr", @usr, method: :delete %>
</div>-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<h2 class="text-center">
Welcome to Alphafocus <%=@this_usr.usrname%>
</h2>
<br>
<br>
<br>
<br>
<h3 class=>Pomodoro Setup:</h3>
<br>
<form action=<%=@timer_url%>>
  <label for="worktime">Work Minutes:</label>
  <input name="worktime" type="text" id="work-time">
  <label for="resttime">Rest Minutes:</label>
  <input name="resttime" type="text" id="rest-time">
  <label for="numsessions">Number of sessions:</label>
  <input name="numsessions" type="text" id="sessions">
  <input type="submit" value="Submit">
</form>
<%=render partial:"error", locals: {message: @msg}%>
